
.info {
  text-align: center;
}

.artist {
  display: inline-block;
  margin: 6px 4px;
}

.artist div {
  width: 12rem;
  height: 12rem;
  background-size: cover;
  border: .1rem solid #aaa;
}

.artist span {
  text-align: center;
  display: block;
  margin-top: 10px;
}

.artist span h4 {
    margin-top: 0px;
}

.subsection {
  font-size: 24px;
  color: #444;
  margin: 30px;
}