
#mainImage {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 400px;
  position: relative;
}

#pageName {
  font-size: 60px;
  color: rgba(255, 255, 255, .5);
  letter-spacing: 8px;
  position: -webkit-sticky;
  position: sticky;
  top: 48%;
  width: 100%;
  text-align: center;
  margin-bottom: 85px;
}

/* ---------------------------------------------- */

header {
  background-color: rgba(100, 100, 100, .2);
  box-sizing: border-box;
  color: rgb(230, 230, 230);
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 200px;
  padding: 15px 20px 12px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 2;
}

#headerOuter {
  position: relative;
  left: 50%;
  width: 900px;
  margin-left: -557px;
}

#headerRow {
  display: flex;
  margin: 0px auto;
}

header #logo {
  width: 150px;
  flex-shrink: 0;
  align-self: center;
  margin: 0px 20px;
}

header a {
  padding: 16px 16px;
  cursor: pointer;
  transition: color 300ms;
  text-decoration: none;
  color: inherit;
  display: block;
  align-self: center;
  white-space: nowrap;
}

header a:hover {
  color: rgb(255, 255, 255);
}

/* ---------------------------------------------- */

#locations {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: rgb(245, 245, 245);
  box-sizing: border-box;
  display: flex;
  padding: 0px 40px;
  background-color: rgba(130, 130, 130, .15);
  justify-content: center;
  position: absolute;
  bottom: 0px;
}

#locations a {
  margin: 14px 70px;
  letter-spacing: 3px;
  transition: color 300ms;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  width: 110px;
}

#locations a:hover {
  color: rgb(255, 255, 255, 1);
}

/* ---------------------------------------------- */

#downArrow {
  transform: rotate(45deg);
  border: solid rgba(255, 255, 255, .6);
  border-width: 0 3px 3px 0;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 40px;
  bottom: 140px;
  cursor: pointer;
  outline: none;
  transition: border-color 300ms;
}

#downArrow:hover {
  border-color: rgba(255, 255, 255, 1);
}

/* ---------------------------------------------- */

@media all and (max-width: 1100px) {
  #mainImage {
    min-height: 0px;
  }

  header {
    background-color: rgb(20, 20, 20);
    position: relative;
    width: auto;
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
    padding: 15px 5px 12px 5px;
  }

  #headerOuter {
    position: static;
    width: auto;
    margin-left: 0px;
  }

  #headerRow {
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0px;
    flex-wrap: wrap;
  }

  header a {
    padding: 8px;
    display: block;
  }

  header #logoContainer {
    width: 100%;
  }

  #mainImage {
    height: auto;
  }

  #pageName {
    display: none;
  }

  #downArrow {
    display: none;
  }

  #locations {
    display: block;
    padding: 6px 40px;
    text-align: left;
    position: relative;
  }

  #locations a {
    padding: 5px;
    display: block;
    margin: 14px auto;
    width: auto;
    max-width: 728px;
  }
}