
html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-weight: normal;
}

a {
  color: inherit;
  outline: none;
}

/* ---------------------------------------------- */

#info-container {
  background-color: rgba(240, 240, 240, 1);
  padding: 30px 40px;
  position: relative;
}

.info {
  color: #333;
  max-width: 700px;
  margin: 0px auto;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 25px;
}

.info h1 {
  font-size: 24px;
  letter-spacing: 2px;
  margin: 30px 0px;
}

.info h4 {
  margin-bottom: 0px;
}

.info  p {
  display: inline-block;
}