
{% if page.page_name != "" %}
  <style type="text/css">
    @media all and (min-width: 950px) {
      #mainImage {
        height: 70%;
      }

      #pageName {
        top: 32%;
        margin-top: -100px;
      }
    }
  </style>
{% endif %}

<div id="mainImage" style="background-image: url({{ page['main_image'] }});">
  <header>
    <div id="headerRow">
    <div id="logoContainer">
      <a href="index.html" style="padding: 0px;">
        <img src="/uploads/logo.png" id="logo">
      </a>
    </div>

    <a href="/index.html">HOME</a>
    <a href="/artists.html">ARTISTS</a>
    <a href="/piercing.html">PIERCING</a>
    <a href="/jewelry.html">JEWELRY</a>
    <a href="/faq.html">FAQ</a>
    <a href="/contact.html">CONTACT</a>
    <a href="/apply.html">APPLY</a>
    <a href="/#social">SOCIAL</a></div>
  </header>

  <div id="pageName">{{ page.page_name }}</div>

  <div id="locations" class="noMobile">
    <a href="/medford.html">Medford</a>
    <a href="/somerville.html">Somerville</a>
    <a href="/cambridge.html">Cambridge</a>
  </div>
</div>

<a id="downArrow" class="noMobile" href="#content"></a>
<a id="content" style="display: block; position: relative;"></a>
