<div id="mainImage" style="background-image: url({{ page['main_image'] }});">
  <header>

    <div id="logoContainer">
      <a href="index.html" style="padding: 0px;">
        <img src="files/logo.png" id="logo">
      </a>
    </div>

    <a href="index.html">HOME</a>
    <a href="artists.html">ARTISTS</a>
    <a href="piercing.html">PIERCING</a>
    <a href="jewelry.html">JEWELRY</a>
    <a href="faq.html">FAQ</a>
    <a href="contact.html">CONTACT</a>
    <a href="apply.html">APPLY</a>
    <a href="index.html/#social">SOCIAL</a>
  </header>

  <div id="locations" class="noMobile">
    <a href="medford.html">Medford</a>
    <a href="somerville.html">Somerville</a>
    <a href="cambridge.html">Cambridge</a>
  </div>
</div>

