---
layout: page
---

<link rel="stylesheet" href="{{ '/css/artists.css' | prepend: site.baseurl }}">

<div class="subsection">Medford</div>

{% assign sorted_artists = site.artists | sort:"meta.order" | reverse %}

{% for artist in sorted_artists %}
  {% for category in artist.categories %}
    {% assign lowered = category | downcase %}
    {% if lowered == "medford" %}
      <a href="{{ artist.url }}"><div class="artist">
        <div style="background-image: url('{{ artist.profile_image }}');"></div>
        <span>{{ artist.title }}</span>
      </div></a>
    {% endif %}
  {% endfor %}
{% endfor %}

<div class="subsection">Somerville</div>

{% for artist in sorted_artists %}
  {% for category in artist.categories %}
    {% assign lowered = category | downcase %}
    {% if lowered == "somerville" %}
      <a href="{{ artist.url }}"><div class="artist">
          <div style="background-image: url('{{ artist.profile_image }}');"></div>
          <span>{{ artist.title }}</span>
      </div></a>
    {% endif %}
  {% endfor %}
{% endfor %}

<div class="subsection">Cambridge</div>

{% for artist in sorted_artists %}
  {% for category in artist.categories %}
    {% assign lowered = category | downcase %}
    {% if lowered == "cambridge" %}
      <a href="{{ artist.url }}"><div class="artist">
        <div style="background-image: url('{{ artist.profile_image }}');"></div>
        <span>{{ artist.title }}</span>
      </div></a>
    {% endif %}
  {% endfor %}
{% endfor %}