---
layout: page
---

<link rel="stylesheet" href="{{ '/css/artists.css' | prepend: site.baseurl }}">

<h3>Medford</h3>

{% for artist in site.artists %}
  {% for category in artist.categories %}
    {% assign lowered = category | downcase %}
    {% if lowered == "medford" %}
      <a href="{{ artist.url }}"><div class="artist">
        <div style="background-image: url('{{ artist.profile_image }}');"></div>
        <span>{{ artist.title }}</span>
      </div></a>
    {% endif %}
  {% endfor %}
{% endfor %}

<h3>Somerville</h3>

{% for artist in site.artists %}
  {% for category in artist.categories %}
    {% assign lowered = category | downcase %}
    {% if lowered == "somerville" %}
      <a href="{{ artist.url }}"><div class="artist">
          <div style="background-image: url('{{ artist.profile_image }}');"></div>
          <span>{{ artist.title }}</span>
      </div></a>
    {% endif %}
  {% endfor %}
{% endfor %}

<h3>Cambridge</h3>

{% for artist in site.artists %}
  {% for category in artist.categories %}
    {% assign lowered = category | downcase %}
    {% if lowered == "cambridge" %}
      <a href="{{ artist.url }}"><div class="artist">
        <div style="background-image: url('{{ artist.profile_image }}');"></div>
        <span>{{ artist.title }}</span>
      </div></a>
    {% endif %}
  {% endfor %}
{% endfor %}