
<!DOCTYPE html>
<html>
  <head>
    <title>BTC Links</title>

    <link rel="stylesheet" href="{{ '/css/links.css' | prepend: site.baseurl }}">
  </head>

  <body>
    <a href="https://www.instagram.com/bostontattoocompany/">
      <img src="../uploads/instaLink.png">
    </a>
    <a href="https://www.facebook.com/bostontattoocompany">
      <img src="../uploads/fbLink.png">
    </a>
    <a href="/">
      <img src="../uploads/btcLink.png">
    </a>
    <a href="{{ site.consultation_url }}">
      <img src="../uploads/startLink.png">
    </a>
    <a href="https://www.youtube.com/channel/UChEpTFiUxRcCIHqg1zqeo6w">
      <img src="../uploads/ytLink.png">
    </a>
  </body>
</html>