---
layout: default
---

<link rel="stylesheet" href="{{ '/css/profile.css' | prepend: site.baseurl }}">

<div id="info-container">
  <article class="info">
    <div id="profile"><img src="{{ page['profile_image'] }}"></div>

    {{ content }}

    <div id="tags">
      <h3>Work Themes:</h3>
      {% for tag in page.tags %}
        <span>{{ tag }}, </span>
      {% endfor %}
    </div>

  </article>
</div>

<div id="work-container">
  <div class="work">
    {% for im in page.work_images %}
      <a href="{{ im }}">
        <div>{{ im | remove: "/uploads/" }}</div>
      </a>
      <img src="{{ im }}" alt="">
    {% endfor %}
  </div>
</div>

