
<!DOCTYPE html>
<html>
  <head>
    <title>BTC Links</title>

    <link rel="stylesheet" href="{{ '/css/links.css' | prepend: site.baseurl }}">
  </head>

  <body>
    <a href="/">
      <img src="../uploads/formBTC.jpg">
    </a>
    <a href="https://form.jotform.com/90290178998170">
      <img src="../uploads/tattooForm.jpg">
    </a>
    <a href="https://form.jotform.com/90424745697165">
      <img src="../uploads/piercingForm.jpg">
    </a>
    <a href="https://form.jotform.com/90424332569155">
      <img src="../uploads/piercingFormMinor.jpg">
    </a>
  </body>
</html>



